<div class="hero">

<%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/left_orange_blob_ffqzsn.svg", class: "orange--blob") %>

<%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/light_yellow_blob_cy3wrj.svg", class: "yellow--blob") %>

  <div class="container d-flex justify-content-center align-items-center">
    <div class="left">
      <h1 class="display-3 fw-bolder hero--title">Watch List</h1>
      <p class="w-75 mb-7 hero--para">Keep track of your favorite movies, connect with friends and stay tuned on the coming up productions.</p>
      <%= link_to "Get started", lists_path, class: 'orange-btn ms-7'  %>
    </div>

    <div class="right">
      <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1641321710/popcorn_fmb0pk.svg" alt="popcorn" class="w-100">
    </div>
  </div>
</div>
