// Define variables for your color scheme

// For example:
$medium-green: #4DBF85;
$light-green: #DDF7EA;
$coral: #FF937F;
$orange: #E96333;
$light-gray: #F4F4F4;
$light-yellow: #FDF8CA;
$dark-gray: #394D44;
$light-blue: #EEF4F5;
$text-color: #221E1D;
$white: #FFF;
