.left {
  width: 50%;
}

.hero {
  position: relative;
}

.orange--blob {
  position: absolute;
  width: 13%;
  z-index: -5;
  bottom: -200px;
}

.yellow--blob {
  position: absolute;
  z-index: -5;
  width: 25%;
  left: 750px;
  top: 120px;
}
