.movie--image_movie_show {
  width: 33%;
}

.movie--container_show {
  width: 100vw;
  background-color: #EEF4F5;
}

.movie--show-btn {
  width: 5%;
}

.review-title {
  font-size: 1rem;
  color: #707070;
}

.review-box {
  background-color: #DDF7EA;
  border-radius: 8px;
}

.review-label {
  font-size: 0.9rem;
  font-weight: 500;
}

.review-input {
  border: none;
  border-radius: 8px;
}

.review-list {
  box-shadow: 1px 1px 8px rgb(200, 200, 200);
  border-radius: 4px;
  text-align: center;
  &-para {
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 8px;
  }
}
