<div class=" nav-container container-fluid">
  <div class="nav">
    <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/green_blob_vvhgnr.svg", class: 'navbar--blob') %>


  </div>
</div>
