<div class=" nav-container container-fluid">
  <div class="nav">
    <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/green_blob_vvhgnr.svg", class: 'nav--blob') %>

    <ul class="list--inline">
      <li class="list--item"><%= link_to "Movies", movies_path, class: "list--link"  %></li>
      <li class="list--item"><%= link_to 'Blog', blogs_path, class: "list--link"  %></li>
      <li class="list--item"><%= link_to "Lists", lists_path, class: "list--link"  %></li>
    </ul>


  </div>
</div>
