.orange-btn {
  text-decoration: none;
  background-color: $orange;
  color: $white;
  padding: 16px 36px;
  border-radius: 4px;
  font-size: 14px;
}

.orange-btn:hover {
  color: $white;
}

.dark_green-btn {
  background-color: #4DBF85;
  color: #fff;
  font-weight: 500;
  display: block;
  width: 100%;
}

.dark_green-btn:hover {
  color: $white;
  background-color: #3c9668;
}
