.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: -5;
  &--blob {
    width: 25%;
  }
}

.nav-container {
  padding: 0;
}

.list--inline {
  list-style: none;
  position: absolute;
  z-index: 5;
}

.list--item {
  padding: 0;
  display: inline-block;
}
